<div class="background-bottom-right background-base"></div>
<div class="background-bottom-left background-base"></div>
<div class="background-top-right background-base"></div>
<div class="background-top-left background-base"></div>

<div class="container-dashboard">
  <!-- Panel Principal -->
  <div class="head-panel card">
    <div class="card-content">
      <div class="card-text">
        <h1 class="card-title">Colegio de Postgraduados</h1>
        <h3 class="card-description">Laboratorio de Cultivo de Tegidos Vegetales</h3>
      </div>
      <div class="card-img">
        <img class="ctv" src="/Logo_lab.png"  alt="CTV">
        <img class="cp" src="/ColegioPostgraduados.png" alt="CP">
      </div>
    </div>
  </div>

  <!-- Contenido del panel -->
  <div class="content-view">
    <!-- Panel Activo -->
    <app-panel-active ></app-panel-active>

    <!-- time on clock -->
    <app-clock></app-clock>

    <!-- Menú Secciones -->
    <div class="sections">
      <!-- Primera Sección -->
      <div class="container-section">
        <div class="section-card">
          <div class="section card" *ngFor="let s of sections" (click)="seleccionarSeccion(s)"
            [ngClass]="{'space-g': s.activation.includes('Q1') || s.activation.includes('Q3')}">
            <p class="absolute section-name">Sección {{s.section}}</p>
            <svg *ngIf="s.status == value[0]" width="300" height="300" viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Ondas animadas -->
              <circle cx="100" cy="100" r="10" stroke="#b9e119" stroke-width="2" fill="none">
                <animate attributeName="r" from="10" to="80" dur="2s" repeatCount="indefinite" />
                <animate attributeName="opacity" from="1" to="0" dur="2s" repeatCount="indefinite" />
              </circle>
              <circle cx="100" cy="100" r="20" stroke="#b9e119" stroke-width="2" fill="none">
                <animate attributeName="r" from="20" to="90" dur="2s" begin="0.5s" repeatCount="indefinite" />
                <animate attributeName="opacity" from="1" to="0" dur="2s" begin="0.5s" repeatCount="indefinite" />
              </circle>

              <!-- Imagen posicionada encima de la animación con movimiento flotante -->
              <image class="floating-leaf" href="/bit.svg" x="0" y="0" width="200" height="200" alt="hoja_inmersa" />
            </svg>

            <svg *ngIf="s.status == value[1]" width="300" height="300" viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Gota de agua (cayendo desde arriba) -->
              <circle cx="100" cy="0" r="5" fill="#1ac8db" opacity="1">
                <animate attributeName="cy" from="0" to="150" dur="1s" begin="0s" repeatCount="indefinite" />
                <animate attributeName="opacity" from="1" to="0" dur="0.2s" begin="1s" repeatCount="indefinite" />
              </circle>

              <!-- Onda concéntrica -->
              <ellipse cx="100" cy="150" rx="0" ry="0" stroke="#1ac8db" stroke-width="2" fill="none" opacity="0">
                <animate attributeName="rx" from="0" to="70" dur="1.5s" begin="1.2s" repeatCount="indefinite" />
                <animate attributeName="ry" from="0" to="20" dur="1.5s" begin="1.2s" repeatCount="indefinite" />
                <animate attributeName="opacity" from="1" to="0" dur="1.5s" begin="1.2s" repeatCount="indefinite" />
              </ellipse>

              <!-- Hoja emergiendo -->
              <image class="leaf" href="/hoja-azul.svg" x="160" y="60" width="5" height="5" alt="hoja_inmersa" />
            </svg>

            <svg *ngIf="s.status == value[2]" width="300" height="300" viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Hoja superior-izquierda -->
              <image id="leaf-top-left" class="leaf-g" href="/hoja-verde.svg" x="30" y="70" width="90" height="80" />

              <!-- Hoja superior-derecha -->
              <image id="leaf-top-right" class="leaf-g" href="/hoja-verde.svg" x="88" y="60" width="90" height="80" />

              <!-- Hoja superior-central -->
              <image id="leaf-top-center" class="leaf-g" href="/hoja-verde.svg" x="60" y="50" width="90" height="80" />
            </svg>
            <p class="absolute section-description">{{s.activation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>