/* General Styles */
.container-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2vh;
  width: 100%;
  height: auto;
  padding: 1vh;
  box-sizing: border-box;
}

.title-section {
  height: 7vh;
  width: 12vh;
  background-color: #A3D4DA;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px #837c7c;
  align-content: center;
}

h2,
p {
  font-size: .8em;
  text-shadow: 0px 3px 3px #6f6e6e;
  color: #525256;
}

p {
  font-size: .5em;
  font-weight: bold;
  justify-self: center;
}

.estructure-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separador {
  height: 53vh;
  width: 0;
  border: 1px dashed #23A1AA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(-2px 2px 1px #9d9d9d);

  .point {
    height: .4rem;
    width: .38rem;
    background-color: #23A1AA;
    border-radius: 50vh;
  }

  .s {
    margin-top: -1px;
  }

  .i {
    margin-bottom: -1px;
  }
}

.section-A,
.section-B {
  height: 100%;
  width: auto;
}
.graph-B{
  display: flex;
}

.head-panel {
  height: 10vh;
  /* Proporcional al alto de la ventana */
  width: 70vw;
  /* Proporcional al ancho de la ventana */
  background-image: linear-gradient(to right, #23A1AA, #9fe8ea, #D7F6F1);
  border-radius: 1rem;
  margin-bottom: 2vh;
}

.content-view {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten si no caben */
  justify-content: center;
  /* gap: 2vh;  */
  width: 100%;
  margin-top: 1vh;
}

.panel-active {
  height: 67vh;
  width: 42vw;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 2vw 2vw 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15.2vw;
}

.section-s,
.section-q {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 2vh;

}

.section-dupla {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.section {
  height: 15vh;
  /* Proporcional al alto */
  width: 7vw;
  /* Proporcional al ancho */
  background-color: #ffffff;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(140deg, #ffff 0%, #BAFDF2 75%);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #121212; */
  position: relative;
  width: 24vh;
  margin-top: 7vh;
}


.bit-A,
.bit-B {
  position: relative;
  width: 30%;
  margin: 5%;
  aspect-ratio: 4 / 5;
}

.bit-B {
  width: 24%;
}


.bol::before {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  width: 59%;
  height: 20%;
  aspect-ratio: 1 / 0.3;
  border-bottom-left-radius: 51% 42%;
  border-bottom-right-radius: 51% 42%;
  border-top-right-radius: 51% 42%;
  border-top-left-radius: 51% 42%;
  background-color: #444;
  border: 1px solid #2f2d2d;
  box-shadow: 0px 9px 16px 0px rgb(12 12 12 / 61%);
}

.bol::after {
  content: "";
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 60%;
  aspect-ratio: 1 / 0.3;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #2f2d2d;
}

.bol {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  border-top-right-radius: 50% 45%;
  border-top-left-radius: 50% 45%;
  background: rgb(243 240 240);
  box-shadow: 3px 8px 8px 2px rgb(12 12 12 / 43%);
  border: 1px solid #2f2d2d;
  transform-origin: bottom center;
  animation: animacion 5s linear infinite;

}

.desborde {
  position: absolute;
  height: 100%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  transform-origin: top center;
  overflow: hidden;
}

.opertors-container {
  display: flex;
  justify-content: space-between;
}

.division-h {
  width: 80%;
  border: 1px solid #62537B;
  justify-self: center;
  border-radius: 1px;
  filter: drop-shadow(-2px 2px 1px #9d9d9d);
}

.division-v {
  height: 80%;
  border: 1px solid #62537B;
  justify-self: center;
  border-radius: 1px;
  filter: drop-shadow(-2px 2px 1px #9d9d9d);
}

.liquido {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  background: #41c1fb;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  transform-origin: top center;
  border: 1px solid #2f2d2d;
}

.agua-lleno {
  height: 74%;
}

.agua-vacio {
  height: 0%;
}

.liquido-top {
  height: 20%;
}

.liquido::before {
  content: "";
  position: absolute;
  top: -12%;
  left: -1px;
  width: 100%;
  aspect-ratio: 2 / 0.5;
  background: #1fa4e0;
  border-radius: 50%;
  border: 1px solid #2f2d2d;
}

.sombra {
  margin: -10% 0 0 2%;
  width: 97%;
  aspect-ratio: 19 / 6;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.reflejo {
  content: "";
  position: absolute;
  top: 19%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 3 / 1;
  border-radius: 50%;
  background: rgb(255 255 255 / 58%);
  z-index: 9;
}

/* Contenedor principal */
.switch {
  position: relative;
  /* width: 60px; */
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ocultar el checkbox */
.toggle-checkbox {
  display: none;
}

/* Estilo del fondo del switch */
.toggle-label {
  position: absolute;
  width: 1.5vw;
  height: 3.5vw;
  background: #ddd;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Botón deslizante */
.toggle-inner {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: #1a7f77;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

/* Posición de los textos */
.toggle-text {
  position: absolute;
  font-size: .6em;
  font-weight: bold;
  color: white;
  transition: 0.3s ease;
}

/* Estilos de los textos */
.toggle-text.on {
  color: #1a7f77;
  top: -1vw;
}

.toggle-text.off {
  bottom: 1.3vh;
}

/* Movimiento del botón cuando está activado */
.toggle-checkbox:checked + .toggle-label .toggle-inner {
  transform: translateY(-1.5vw);
}

/* Cambio de color del texto */
.toggle-checkbox:checked + .toggle-label .toggle-text.on {
  color: white;
  transform: translateY(1.5vw);
}

.toggle-checkbox:checked + .toggle-label .toggle-text.off {
  color: #1a7f77;
  transform: translateY(1.5vw);
}


.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
}

.frequency {
  background-color: #3B50D6;
  color: white;
  padding: .2vw .3vw;
  border-radius: 15px;
  font-size: 0.5rem;
  text-align: center;
  width: 6vw;;
  margin-top: 2vh;
}

.time-display {
  position: absolute;
  font-size: .6em;
  font-weight: bold;
  color: #3B4FD6;
}

.doughnut {
  position: absolute;
}

.duration {
  background-color: #EB9E22;
  color: white;
  padding: .2vw .3vw;
  border-radius: 15px;
  font-size: 0.5rem;
  text-align: center;
  width: 5vw;;
  margin-top: 2vh;
}

.time-display-D {
  position: absolute;
  font-size: .6em;
  font-weight: bold;
  color: #EB9E22;
}
.space-top{
  margin-top: 1vh;
}



.wave {
  fill: none;
  stroke: limegreen;
  stroke-width: 1.5;
  opacity: 0.7;
}

/* Hoja inmersa */

.wave {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  opacity: 1;
  animation: waveAnimation 2s infinite;
}

.delay {
  animation-delay: 0.5s;
}

.delay2 {
  animation-delay: 1s;
}

/* Animación de las ondas */
@keyframes waveAnimation {
  0% {
    r: 5;
    stroke-dashoffset: 100;
    opacity: 1;
  }

  100% {
    r: 60;
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

/* Posicionamiento del SVG */
svg {
  position: relative;
}

/* Animación flotante e irregular para la hoja */
.floating-leaf {
  animation: float-random 5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes float-random {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  15% {
    transform: translate(-2px, 3px) rotate(2deg);
  }

  30% {
    transform: translate(2px, -5px) rotate(-3deg);
  }

  45% {
    transform: translate(-7px, 5px) rotate(1deg);
  }

  60% {
    transform: translate(5px, -2px) rotate(-2deg);
  }

  75% {
    transform: translate(-2px, 5px) rotate(3deg);
  }

  90% {
    transform: translate(3px, -6px) rotate(-1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


/* Animación de agua */
 /* Animación para la hoja emergiendo */
 @keyframes emerge {
  0% {
    transform: translate(50%, 70%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 20%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 10%) scale(1);
    opacity: 1;
  }
}

/* Estilo para la hoja */
.leaf {
  width: 80px;
  height: 80px;
  position: absolute;
  opacity: 0;
  animation: emerge 2s ease-in-out 0.5s infinite; /* Se repite en secuencia */
}

.g-duration{
  margin-left: 1rem;
}

/* Animación para las hojas en crecimiento */

/* Estilos para las hojas */
.leaf-g {
  opacity: 0;
  transform-origin: center;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; /* Hace que la animación se repita */
}

/* Animación para la hoja superior-izquierda */
#leaf-top-left {
  animation-name: growMoveRotateLeft;
  animation-delay: 1s;
}

/* Animación para la hoja superior-derecha */
#leaf-top-right {
  animation-name: growMoveRotateRight;
  animation-delay: 3s;
}

/* Animación para la hoja superior-central */
#leaf-top-center {
  animation-name: growCenter;
  animation-delay: 5s;
}

/* Definición de las animaciones */
@keyframes growMoveRotateLeft {
  0% {
      opacity: 0;
      transform: scale(0) translate(0, 0) rotate(0deg);
  }
  50% {
      opacity: 1;
      transform: scale(1) translate(-10px, -10px) rotate(-45deg);
  }
  100% {
      opacity: 1;
      transform: scale(1) translate(-10px, -10px) rotate(-45deg);
  }
}

@keyframes growMoveRotateRight {
  0% {
      opacity: 0;
      transform: scale(0) translate(0, 0) rotate(0deg);
  }
  50% {
      opacity: 1;
      transform: scale(1) translate(10px, -10px) rotate(45deg);
  }
  100% {
      opacity: 1;
      transform: scale(1) translate(10px, -10px) rotate(45deg);
  }
}

@keyframes growCenter {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  50% {
      opacity: 1;
      transform: scale(1.2);
  }
  100% {
      opacity: 1;
      transform: scale(1.2);
  }
}