/* General Styles */
.container-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2vh;
  width: 100%;
  height: auto;
  padding: 1vh;
  box-sizing: border-box;
}

.absolute{
  position: absolute;
}
.section-name{
height: 13vh;
}
.section-description{
  height: 13vh;
  place-content: end;
}

h2,
p {
  font-size: .8em;
  text-shadow: var(--text-shadow);
  color: var(--text-color);
}

p {
  font-size: .5em;
  font-weight: bold;
  justify-self: center;
}

.space-bettewen {
  height: 100%;
  width: 5vw;
}

.head-panel {
  height: 10vh;
  /* Proporcional al alto de la ventana */
  width: 70vw;
  /* Proporcional al ancho de la ventana */
  background-image: var(--header-color);
  border-radius: 1rem;
  margin-bottom: 2vh;
  border: var(--border-head);
}

.content-view {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten si no caben */
  justify-content: center;
  /* gap: 2vh;  */
  width: 100%;
  margin-top: 1vh;
}



.sections {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: var(--width);
}
.space-g{
  margin-top: 2vh;
}
.container-section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.section-card {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  height: 15vh;
  /* Proporcional al alto */
  width: 7vw;
  /* Proporcional al ancho */
  /* background-color: #ffffff; */
  border: var(--border-head);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--color-section);
}

/* Hoja inmersa */


.wave {
  fill: none;
  stroke: limegreen;
  stroke-width: 1.5;
  opacity: 0.7;
}

.wave {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  opacity: 1;
  animation: waveAnimation 2s infinite;
}

.delay {
  animation-delay: 0.5s;
}

.delay2 {
  animation-delay: 1s;
}

/* Animación de las ondas */
@keyframes waveAnimation {
  0% {
    r: 5;
    stroke-dashoffset: 100;
    opacity: 1;
  }

  100% {
    r: 60;
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

/* Posicionamiento del SVG */
svg {
  position: relative;
}

/* Animación flotante e irregular para la hoja */
.floating-leaf {
  animation: float-random 5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes float-random {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  15% {
    transform: translate(-2px, 3px) rotate(2deg);
  }

  30% {
    transform: translate(2px, -5px) rotate(-3deg);
  }

  45% {
    transform: translate(-7px, 5px) rotate(1deg);
  }

  60% {
    transform: translate(5px, -2px) rotate(-2deg);
  }

  75% {
    transform: translate(-2px, 5px) rotate(3deg);
  }

  90% {
    transform: translate(3px, -6px) rotate(-1deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


/* Animación de agua */
/* Animación para la hoja emergiendo */
@keyframes emerge {
  0% {
    transform: translate(50%, 70%) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, 20%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, 10%) scale(1);
    opacity: 1;
  }
}

/* Estilo para la hoja */
.leaf {
  width: 80px;
  height: 80px;
  position: absolute;
  opacity: 0;
  animation: emerge 2s ease-in-out 0.5s infinite;
  /* Se repite en secuencia */
}


/* Animación para las hojas en crecimiento */

/* Estilos para las hojas */
.leaf-g {
  opacity: 0;
  transform-origin: center;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  /* Hace que la animación se repita */
}

/* Animación para la hoja superior-izquierda */
#leaf-top-left {
  animation-name: growMoveRotateLeft;
  animation-delay: 1s;
}

/* Animación para la hoja superior-derecha */
#leaf-top-right {
  animation-name: growMoveRotateRight;
  animation-delay: 3s;
}

/* Animación para la hoja superior-central */
#leaf-top-center {
  animation-name: growCenter;
  animation-delay: 5s;
}

/* Definición de las animaciones */
@keyframes growMoveRotateLeft {
  0% {
    opacity: 0;
    transform: scale(0) translate(0, 0) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: scale(1) translate(-10px, -10px) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(-10px, -10px) rotate(-45deg);
  }
}

@keyframes growMoveRotateRight {
  0% {
    opacity: 0;
    transform: scale(0) translate(0, 0) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: scale(1) translate(10px, -10px) rotate(45deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(10px, -10px) rotate(45deg);
  }
}

@keyframes growCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

