section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #121212;
  position: relative;
}

button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.bit-A,
.bit-B {
  position: relative;
  width: 30%;
  margin: 5%;
  aspect-ratio: 4 / 5;
}

.bit-B {
  width: 24%;
}


.bol::before {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 18%;
  aspect-ratio: 1 / 0.3;
  border-bottom-left-radius: 51% 42%;
  border-bottom-right-radius: 51% 42%;
  border-top-right-radius: 51% 42%;
  border-top-left-radius: 51% 42%;
  background-color: #444;
  border: 2px solid #444;
  box-shadow: 0px 9px 16px 0px rgb(12 12 12 / 61%);
}

.bol::after {
  content: "";
  position: absolute;
  top: -10%;
  /* Ajustamos en porcentajes */
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 55%;
  /* Ajustamos en porcentajes */
  aspect-ratio: 1 / 0.3;
  background: rgba(255, 255, 255, 0.05);
}

.bol {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  border-top-right-radius: 50% 45%;
  border-top-left-radius: 50% 45%;
  background: rgba(255, 255, 255, 0.1);
  border: 2% solid transparent;
  transform-origin: bottom center;
  animation: animacion 5s linear infinite;

}

.desborde {
  position: absolute;
  height: 100%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  transform-origin: top center;
  overflow: hidden;
}

@keyframes animacion {
  100% {
    filter: hue-rotate(360deg);
  }
}

.liquido {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  background: #41c1fb;
  border-bottom-left-radius: 67% 22%;
  border-bottom-right-radius: 67% 22%;
  transform-origin: top center;
}

.agua-lleno {
  height: 74%;
  /* Inicialmente lleno */
}

.agua-vacio {
  height: 0%;
  /* Inicialmente vacío */
}

.liquido-top {
  height: 20%;
}

.liquido::before {
  content: "";
  position: absolute;
  top: -12%;
  /* Ajustamos en porcentajes */
  left: -3;
  width: 100%;
  aspect-ratio: 2 / 0.5;
  background: #1fa4e0;
  border-radius: 50%;
}

.sombra {
  margin: -10% 0 0 2%;
  width: 97%;
  aspect-ratio: 19 / 6;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.reflejo {
  content: "";
  position: absolute;
  top: 19%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 3 / 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}