<section>
  
  <label class="switch" (click)="transferirAgua()">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>

  <!-- Frasco A -->
  <div class="bit-A">
    <div class="bol">
      <div class="reflejo"></div>
      <div class="desborde">
        <div class="liquido agua-lleno"></div> <!-- Líquido lleno -->
      </div>
    </div>
    <div class="sombra"></div>
  </div>

  <!-- Frasco B -->
  <div class="bit-B">
    <div class="bol">
      <div class="reflejo"></div>
      <div class="desborde">
        <div class="liquido agua-vacio"></div> <!-- Líquido vacío -->
      </div>
    </div>
    <div class="sombra"></div>
  </div>
</section>