:root {
  --primary-color: #ffffff; /* Color principal (claro) */
  --background-color: #EBE9E9; /* Fondo claro */
  --text-color: #525256; /* Texto oscuro */
  --text-color-secundary:rgb(16, 9, 40);
  --text-color-time:rgb(108 107 115);
  --text-shadow:0px 3px 3px #6f6e6e;
  --button-color: #16244f;
  --img-color: grayscale(0%); /* Valor inicial */
  --img-shadow: drop-shadow(7px 8px 3px #9d9d9d);
  --background_bottom:drop-shadow(2px -6px 3px #9d9d9d);
  --background_top_left:drop-shadow(7px 8px 3px #9d9d9d);
  --background_top_right:drop-shadow(-5px 7px 3px #9d9d9d);
  --header-color:linear-gradient(to right, #23A1AA, #9fe8ea, #D7F6F1);
  --border-head:none;
  --panel-active-color:#ffffff;
  --progress-stoke: #ffffff;
  --bar-color:#3B50D6;
  --frequency-color:#3B50D6;
  --box-shadow: 0px 2px 10px #837c7c;
  --drop-shadow:drop-shadow(-2px 2px 1px #9d9d9d);
  --color-section: linear-gradient(140deg, #ffff 0%, #BAFDF2 75%);
  --width: 15.2vw;
  --fits: grayscale(0%); 
  --form-color: #ffffff;
  --input-found:#ffffff;
  --division:1px solid #62537B;
  --bol-background-before: #ffffff;
  --bol-border-before:1px solid #2f2d2d;
  --border-jars:1px solid #2f2d2d;
  --before-height:20%;
  --after-height:15%;
  --bol-background:rgb(243 240 240);
  --bol-border:1px solid #2f2d2d;
  --liquid-border:1px solid #5f5e5e;
  --before-liquid:1px solid #565656;
  --background-liquid:#1fa3e081;
  --left-liquid:-1px;
  --reflejo-backgroud:rgb(255 255 255 / 58%);
}

.dark-theme {
  --primary-color: #1e1e1e; /* Color principal (oscuro) */
  --background-color: #232323; /* Fondo oscuro */
  --text-color: #ffffff; /* Texto claro */
  --text-color-time:rgb(255, 255, 255);
  --text-color-secundary:rgb(255, 255, 255);
  --text-shadow:0px 3px 3px #212121;
  --button-color: #4d4e55;
  --img-color: grayscale(117%) brightness(193%); /* Valor inicial */
  --img-shadow: drop-shadow(-1px 6px 0px #000000);
  --background_bottom:drop-shadow(2px -6px 3px #000000);
  --background_top_left:drop-shadow(7px 8px 3px #000000);
  --background_top_right:drop-shadow(-5px 7px 3px #000000);
  --header-color:linear-gradient(to right, #ffffff4d, #ffffff4d, #ffffff4d);
  --border-head:#ffffff solid 2px;
  --panel-active-color:#ffffff4d;
  --progress-stoke: #656565;
  --bar-color:#01ffea;
  --frequency-color:#59e1c7;
  --box-shadow: 0px 2px 10px #000000ab;
  --drop-shadow:drop-shadow(-2px 2px 1px #000000ab);
  --color-section: linear-gradient(140deg, #ffffff4d 0%, #ffffff4d 75%);
  --width: 15.6vw;
  --fits: invert(100%);
  --form-color:#4d4e55;
  --input-found: #3b3535;
  --division: 1px solid #ffffff;
  --bol-background-before:#444;
  --bol-border-before:#444;
  --border-jars:none;
  --before-height:24%;
  --after-height:17%;
  --bol-background:rgba(255, 255, 255, 0.1);
  --bol-border:2% solid transparent;
  --liquid-border:none;
  --before-liquid:none;
  --background-liquid:#00aeff81;
  --left-liquid:0px;
  --reflejo-backgroud:rgb(173 167 167 / 58%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
  position: relative;
  /* Necesario para posicionar el pseudo-elemento */
}

/* Pseudo-elemento para la imagen de fondo */
body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/footer.png);
  background-position: bottom;
  background-repeat: no-repeat;
  filter:var(--img-shadow) var(--img-color);
  z-index: -1;
}

/* Clase base para evitar repetir propiedades comunes */
.background-base {
  position: absolute;
  height: 150px;
  /* Alto del div */
  background-size: cover;
  /* Ajusta la imagen al tamaño del div */
  background-position: center;
  /* Centra la imagen dentro del div */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
}

/* Posición inferior derecha */
.background-bottom-right {
  bottom: 0;
  right: 0;
  filter: var(--background_bottom) var(--img-color);
  width: 200px;
  /* Ancho del div */
  background-image: url(/background-bottom-right.png);
  /* Ruta de la imagen */
}

/* Posición inferior izquierda */
.background-bottom-left {
  bottom: 0;
  left: 0;
  filter: var(--background_bottom) var(--img-color);
  width: 200px;
  /* Ancho del div */
  background-image: url(/background-bottom-left.png);
  /* Ruta de la imagen */
}

/* Posición superior derecha */
.background-top-right {
  top: 0;
  right: 0;
  filter: var(--background_top_right) var(--img-color);
  width: 127px;
  /* Ancho del div */
  background-image: url(/background-top-right.png);
  /* Ruta de la imagen */
}

/* Posición superior izquierda */
.background-top-left {
  top: 0;
  left: 0;
  filter: var(--background_top_left) var(--img-color);
  width: 127px;
  /* Ancho del div */
  background-image: url(/background-top-left.png);
  /* Ruta de la imagen */
}

* {
  font-family: "Inter", serif;
  /* font-family:Calibri, 'Trebuchet MS', sans-serif; */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  overflow: hidden;
  /* Oculta el contenido que se desborda */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Transición suave */
  max-width: 100%;
  /* Ancho máximo */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  /* Efecto de levantar la tarjeta */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Sombra más pronunciada al hacer hover */
}

.ctv, .cp {
  height: auto;
  object-fit: cover;
  padding: 0 1vh;
  filter: drop-shadow(-2px 2px 1px #9d9d9d);

}
.ctv{
  width: 2vw;
}
.cp{
  width: 3vw;
}

.card-content {
  
  padding: 0 1rem;
  /* Espaciado interno */
  flex-grow: 1;
  /* El contenido ocupa el espacio restante */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-text{
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 1rem;
  /* Tamaño del título */
  font-weight: bold;
  text-shadow: var(--text-shadow);
  margin: 0px;
  /* Margen inferior */
  color: #ffffff;
  /* Color del texto */
}

.card-description {
  font-size: .8em;
  /* Tamaño del texto */
  color: #ffffff;
  text-shadow: var(--text-shadow);
  margin: .3vw 0 0 0;
  /* Margen inferior */
}

.card-footer {
  padding: 16px;
  /* Espaciado interno */
  background-color: #f5f5f5;
  /* Fondo gris claro */
  border-top: 1px solid #e0e0e0;
  /* Borde superior */
  text-align: right;
  /* Alineación del texto a la derecha */
}

.card-footer button {
  background-color: #007bff;
  /* Color de fondo del botón */
  color: #ffffff;
  /* Color del texto del botón */
  border: none;
  /* Sin borde */
  padding: 8px 16px;
  /* Espaciado interno */
  border-radius: 4px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.card-footer button:hover {
  background-color: #0056b3;
  /* Color de fondo al hacer hover */
}
.btn-container {
  position: relative;
  display: inline-block; /* Asegura que el contenedor solo ocupe el espacio del botón */
}

button {
  position: unset;
  transform: none;
  font-size: .1em;
  padding: .8vh .8vw;
  cursor: pointer;
  border-radius: .5vh;
  margin: 2vh 5vh;
  border: none;
  background-color: #1D8782;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-float {
  transition: transform 0.3s ease;
  position: relative; /* Asegura que los pseudo-elementos estén contenidos dentro del botón */
  z-index: 1; /* Asegura que el botón esté por encima de los pseudo-elementos */
}

.btn-float::after,
.btn-float::before {
  content: '';
  position: absolute;
  opacity: 0.3;
  background-color: #1D8782;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-float:hover {
  transform: translate(-8px, -8px);
}

.btn-float:hover::after {
  transform: translate(4px, 4px);
}

.btn-float:hover::before {
  transform: translate(8px, 8px);
}
.btn-float:active{
  background-color: transparent;
  border: #1D8782 solid 1px;
  color: #1D8782;
}